@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'flowbite';

@theme {
    --font-Montserrat: 'Montserrat', sans-serif;
    --color-azul: #0077B6;
    --color-laranja: #FF5912;
    --color-verde: #00FF90;
    --color-cinza: #24292D;
    --color-preto_azulado: #0E1418;
    --color-branco: #FFFFFF;
    --color-preto: #000000;
}  

.h1, .h2, .h3, .h4, .h5, .legibilidade .detalhes{
    font-family: var(--font-Montserrat);
}

.h1 {
    font-size: 50px;
    font-weight: 600;
}

.h2 {
    font-size: 45px;
    font-weight: 500;
}
.h3 {
    font-size: 40px;
    font-weight: bold;
}
.h4 {
    font-size: 35px;
    font-weight: 500;
}
.h5{
    font-size: 30px;
    font-weight: 500;
}
.legibilidade{
    font-size: 30px;
    font-weight: 500;
}
.detalhes{
    font-size: 16px;
    font-weight: 500;
}